/*-- scss:defaults --*/

/*-- scss:rules --*/

* {
  --primary-color: #4D204E;
  --secondary-color: #214e20;
  --what-bg: #e8f5c0;
}

.what {
  border: 5px solid var(--secondary-color);
  border-radius: 10px;
  padding: 0em 1em;
  font-weight: 600;
  font-size: 1.1em;
  position: relative;
  margin: 0.75em 0;
  background-color: var(--what-bg);
  text-align: center;
  color: var(--secondary-color);
}

.alert { // Used for highlighting words (inline or via a :::)`
  color: crimson;
  font-weight: bold;
}

.reveal blockquote {
    position: relative;
    font-style: italic;
    padding: 0.5em 0.5em 1em 2em;
    color: #444;
    background: #f0f0f0;
    border-left: 5px solid $primary-color;
    border-radius: 5px;
    margin: 0.5em 0;
}

.inline-quote {
    font-style: italic;
    color: #444;
    background: #f0f0f0;
    padding: 0.1em 0.4em;
    border-radius: 6px;
    box-decoration-break: clone;
}

.inline-quote::before {
    content: "\201C ";
    font-family: Georgia, serif;
    font-style: normal;
    font-size: 2em;
    line-height: 0;
    vertical-align: -0.35em;
    margin-right: 0.15em;
    color: $primary-color;
}